body {
    padding: 0;
    margin: 0;
    background-color: rgb(80,155,245);
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.h-100vh {
    height: 100vh;
}

.btn {
    border: 0;
    background-color: rgba(29,185,84,1);
    width: 220px;
    height: 3rem;
    border-radius: 25px;
    outline: none;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn:hover {
    cursor: pointer;
}

.btn:active,
.btn:focus {
    animation-name: button-animation;
    animation-duration: 4s;
}

@keyframes button-animation {
    0% {

    }
    15% {
        color: transparent;
    }
    30% {
        background-color: #689f38;
        width: 3rem;
        color: transparent;
    }
    70% {
        background-color: #d4e157;
        width: 3rem;
        color: transparent;
    }
    85%{
        color: transparent;
    }
    100% {
    }
}

.primary-header {
    color: white;
    font-size: 100px;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.secondary-header {
    color: white;
    font-size: 30px;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.d-inline-flex {
    display: inline-flex;
}

.upper-class {
    margin-left: 100px;
    margin-top: 100px;
    flex-direction: column;
}

.yanarli {
    animation-name: button-animation;
    animation-duration: 4s;
}

@media (max-width: 950px) {
    .primary-header {
        color: white;
        font-size: 80px;
        margin: 0;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
    }

    .secondary-header {
        color: white;
        font-size: 30px;
        margin: 0;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
    }
    .upper-class {
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
        flex-direction: column;
    }

    .body {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .primary-header {
        color: white;
        font-size: 40px;
        margin: 0;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
    }

    .secondary-header {
        color: white;
        font-size: 19px;
        margin: 0;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
    }
    .upper-class {
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
        flex-direction: column;
    }

    .body {
        display: flex;
        align-items: center;
    }
}

